.tarjeta:hover{
  border-color: red !important;
  box-shadow: 0 4px 16px rgb(90, 21, 21);
  transition: all 0.3s ease;
}

.artista {
  color: rgba(255, 255, 255, 0.9) !important;
  font-size: 20px;
  font-weight: 500;
  padding: 0.5em 1.2em;
  background: #4f8b66;
  border-bottom: 2px solid;
  border-color: #000405;
  position: relative;
}
.artista:hover {
  color: rgba(255, 255, 255, 1) !important;
  box-shadow: 0 4px 16px rgb(136, 255, 0);
  transition: all 0.3s ease;
}
