
<div class="row">
  <div class="col">

  </div>
  <div class="col">
    <h3>*ngif</h3>
    <hr>
    <div class="card border-primary" *ngIf="mostrar">
      <div class="card-body text-primary">
        <h5 class="card-title">Ben Parker</h5>
        <hr>
        <p class="card-text ">Un gran poder conlleva una gran responsabilidad.</p>
      </div>
    </div>
    <button (click)="mostrar = !mostrar" class="btn btn-outline-primary" style="width: 100%;">Mostrar/Ocultar</button>
  </div>
  <div class="col">
    <h3>*ngfor</h3>
    <hr>
    <ul class="list-group">
      <li *ngFor="let personaje of personajes" class="list-group-item list-group-item-secondary">{{personaje}}</li>
    </ul>
  </div>
  <div class="col">

  </div>
</div>
