<div class="container text-light border p-5 " >
  <h2 class="animated fadeIn fast mb-5 ">Acerca de Comic App.</h2>
  <hr class=" text-success ">
  <p class="animated fadeIn">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus blanditiis atque aut asperiores optio commodi, alias consequatur rerum, repellendus eum incidunt aliquid sint unde sed consequuntur saepe est et accusantium!</p>
  <p class="animated fadeIn">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, suscipit provident? Minima facere quis laborum nam possimus reprehenderit dignissimos, illo excepturi aperiam, repudiandae impedit accusantium? Vero voluptates commodi dicta illum.</p>
  <hr class="text-success">

</div>
